<main class= "main">
    <section class="aboutMe">
        <h1 class="aboutMe__title">Sobre mi</h2>
          <div  class="about__image1" >
             <img
            src="./assets/images/foto.png"
            alt="Foto Maribel López"
            title="Maribel López"
            class="about__image"
          />
        </div> 
        <p class="aboutMe__description ">Donec accumsan, nulla ut volupat orttior, quam odio tempus felis, al
            luctus ex diam nec lectus. Vivamuslorem Donec accumsan, nulla ut volupat orttior, quam odio tempus felis, al
            luctus ex diam nec lectus. Vivamuslorem Donec accumsan, nulla ut volupat orttior, quam odio tempus felis, al
            luctus ex diam nec lectus. Vivamuslorem Donec accumsan, nulla ut volupat orttior, quam odio tempus felis, al
            luctus ex diam nec lectus. Vivamuslorem Donec accumsan, nulla ut volupat orttior, quam odio tempus felis, al
            luctus ex diam nec lectus. Vivamuslorem
            semper
            sodales rutrum. </p>

            <aside class= "aboutMe__aside">

              <ul class= "aboutMe__aside__iconelist">
                <li class= "icon">
                <i class="bx bxl-html5 " alt="Icono de HTML5" title="HTML5"></i>
                <spam>HTML5 </spam>
              </li>
                <li class= "icon">
                  <i class="bx bxl-css3" alt="Icono de CSS3" title="CSS3"></i>
                  CSS3
                </li>
                <li class= "icon">
                <i class="bx bxl-javascript" alt="Icono de JavaScript" title="JavaScript"></i>
                JavaScript
              </li>
                <li class= "icon">   
                  <i class="bx bxl-react" alt="Icono de React" title="React"></i>
                  React
                </li>
                <li class= "icon">
              
                  <i class="bx bxl-sass" alt="Icono de Sass" title="Sass">  </i>
                  SASS
                </li>
                 
                 
                  <li class= "icon">
                  
                  <i class="bx bxl-git"alt="Icono de Git" title="Git"></i>
                  Git
                </li>
               
              </ul>
            </aside>
            
           
    </section>

    
   