<main class="main">
  <section id="about" class="aboutMe">
    <h2 class="aboutMe__title">¿Quien soy?</h2>
    <!-- <div class="about__image1">
      <img
        src="./assets/images/avatar.jpg"
        alt="Foto Maribel López"
        title="Maribel López"
        class="about__image"
      />
    </div> -->
    <section class="aboutMe__description">
      <p>
        ¡Hola! Soy Maribel,
        <span class="aboutMe__description__span">
          desarrolladora Full-stack junior </span
        >, trabajo con Javascript, React, HTML, CSS, PHP, NodeJS, Java y SQL,
        entre otras.
      </p>

      <p>
        Soy una persona
        <span class="aboutMe__description__span">
          emprendedora, autodidacta y con gran capacidad de aprendizaje</span
        >, empecé a tener curiosidad por el mundo de la programación a raiz de
        trabajar como técnica de selección IT, y por ello decidi estudiar esta
        profesion y he descubierto que me apasiona y quiero dedicarme a ello.
      </p>

      <p>
        Gracias a mis estudios en<span class="aboutMe__description__span">
          psicologia, en el ambito de lo social, los recursos humanos y el
          género
        </span>
        y mi experiencia laboral en estas áreas, tengo un perfil
        multidisciplinar, habiendo desarrollado muchas competencias que sin duda
        me sirven a dia de hoy para afrontar cualquier reto, competencias como
        la flexibilidad, trabajo en equipo, comunicacion, tolerancia a la
        incertidumbre y adaptacion a los cambios hacen que me sienta cómoda
        trabajando y pueda afrontar el trabajo de manera productiva.
      </p>
    </section>

    <aside class="aboutMe__aside">
      <ul class="aboutMe__aside__iconelist">
        <li class="icon">
          <i class="bx bxl-html5" alt="Icono de HTML5" title="HTML5"></i>
          <spam>HTML5 </spam>
        </li>
        <li class="icon">
          <i class="bx bxl-css3" alt="Icono de CSS3" title="CSS3"></i>
          CSS3
        </li>
        <li class="icon">
          <i
            class="bx bxl-javascript"
            alt="Icono de JavaScript"
            title="JavaScript"
          ></i>
          JavaScript
        </li>
        <li class="icon">
          <i class="bx bxl-react" alt="Icono de React" title="React"></i>
          React
        </li>
        <li class="icon">
          <i class="bx bxl-sass" alt="Icono de Sass" title="Sass"> </i>
          SASS
        </li>

        <li class="icon">
          <i class="bx bxl-git" alt="Icono de Git" title="Git"></i>
          Git
        </li>

        <li class="icon">
          <i class="fab fa-node" alt="Icono de Nodejs" title="NodeJS"></i>
          NodeJS
        </li>

        <li class="icon">
          <i class="fab fa-java" alt="Icono de Java" title="Java"></i>
          Java
        </li>

        <li class="icon">
          <i class="fab fa-php" alt="Icono de MySql" title="PHP"></i>
          PHP
        </li>

        <!-- <li class="icon">
          <i class="fa fa-mysql" alt="Icono de MySql" title="MySql"></i>
          MySql
        </li> -->
      </ul>
    </aside>
  </section>
</main>
