<section class="contact" id="contact">
  <h2 class="contact__title">Contacto</h2>
  <p class="contact__description">
    Si te han gustado mis proyectos y quieres que hablemos de desarollo web,
    quizás quieres darme feedback, o mejor aún, estás buscando un perfil
    frontend junior y crees que mi perfil profesional encaja en lo que buscas,
    ¡no dudes en contactar conmigo!
  </p>
  <ul class="contact__list">
    <li class="contact__redes">
      <a
        class="contact__icono"
        href="https://www.linkedin.com/in/yamiramartinguzman/"
        alt="Icono de Linkedin"
        title="Perfil de Linkedin de Maribel"
        target="_blank"
        ><i class="bx bxl-linkedin-square"></i
      ></a>
    </li>
    <li class="contact__redes">
      <a
        class="contact__icono"
        href="https://github.com/ymartinguzman"
        alt="Icono de Github"
        title="Perfil de Github de Maribel"
        target="_blank"
        ><i class="bx bxl-github"></i
      ></a>
    </li>

    <li class="contact__redes">
      <a
        class="contact__icono"
        href="mailto:yamiramartinguzman@gmail.com"
        alt="Icono de email"
        title="Enviar email a Yamira"
        target="_blank"
        ><i class="bx bxs-envelope"></i
      ></a>
    </li>
    <li class="contact__redes">
      <a
        class="contact__icono"
        href=""
        alt="Icono de descargar CV"
        title="Descargar CV"
        target="_blank"
      >
        <i class="fas fa-download"></i
      ></a>
    </li>
  </ul>
</section>
