<section class="contact" id="contact">
  <h2 class="contact__title">Contacto</h2>
  <p class="contact__description">
    Si te han gustado mis proyectos o mi perfil y te interesa que hablemos sobre
    desarrollo web para darme feedback y hacer colaboraciones, o si estás
    buscando un perfil como el mio y crees que mi encajo en lo que buscas, ¡no
    dudes en contactar conmigo!.
  </p>
  <ul class="contact__list">
    <li class="contact__redes">
      <a
        class="contact__icono"
        href="https://www.linkedin.com/in/maribellopezromero/"
        alt="Icono de Linkedin"
        title="Perfil de Linkedin de Maribel"
        target="_blank"
        ><i class="bx bxl-linkedin-square"></i
      ></a>
    </li>
    <li class="contact__redes">
      <a
        class="contact__icono"
        href="https://github.com/MaribelLopezRomero/"
        alt="Icono de Github"
        title="Perfil de Github de Maribel"
        target="_blank"
        ><i class="bx bxl-github"></i
      ></a>
    </li>

    <li class="contact__redes">
      <a
        class="contact__icono"
        href="mailto:maribel.romero.miv@gmail.com"
        alt="Icono de email"
        title="Enviar email a Maribel"
        target="_blank"
        ><i class="bx bxs-envelope"></i
      ></a>
    </li>
    <li class="contact__redes">
      <a
        class="contact__icono"
        href="https://drive.google.com/file/d/1eJjd-FcQDFz70Puw3f2Zudt1gRzzbKQX/view?usp=sharing"
        alt="Icono de descargar CV"
        title="Descargar CV"
        target="_blank"
      >
        <i class="fas fa-download"></i
      ></a>
    </li>
  </ul>
</section>
