<header id="header" class="header">
  <nav class="header__menuNav">
    <ul class="header__menuNav__list">
      <li>
        <a
          class="headerMenu__link"
          href="#header"
          alt="Haz clic aquí para ir al principio de la página"
          title="Haz clic aquí para ir al principio de la página"
          >Inicio</a
        >
      </li>
      <li>
        <a
          class="headerMenu__link"
          href="#about"
          alt=""
          title="Haz clic aquí para mas informacion sobre mi"
          >Sobre mi</a
        >
      </li>
      <li>
        <a
          class="headerMenu__link"
          href="#projects"
          alt=""
          title="Haz clic aquí para ir a mis proyectos"
          >Proyectos</a
        >
      </li>
      <li>
        <a
          class="headerMenu__link"
          href="#contact"
          alt=""
          title="Haz clic aquí para ir a mi contacto"
          >Contacto</a
        >
      </li>
    </ul>
  </nav>
  <div class="header__container">
    <h1 class="header__title">Maribel López</h1>
    <p class="header__paragraph">Desarrolladora Front-end</p>
  </div>
</header>
