<section id="projects" class="main__projects">

    <h2 class="main__projects__title">Proyectos</h2>
    <ul class="main__projects__list">
        <li class="main__projects__card">
            <div class= " main__project__container js-image" id="0">
            <img class= "main__projects__cardImage " 
            src= "./assets/images/RickyMorty1.jpg"
            title= "Proyecto RickyMorty"
            alt= "Proyecto RickyMorty"
            />
            <p class="main__projects__carddescription js-text"> Web app responsive hecha con React y React Router que filtra personajes de la serie y muestra los detalles del personaje seleccionado. </p>  
            </div>
            <h3 class="main__projects__cardTitle ">Ricky and Morty</h3>
        
            <ul class= "main__projects__thechList">
                <li class= "main__projects__thechItem" >React</li>
                <li class= "main__projects__thechItem">JavaScript</li>
                <li class= "main__projects__thechItem">HTML5</li>
                <li class= "main__projects__thechItem">CSS</li>
            </ul>
            <a
            href=""
            class="main__projects__web"
            alt="Enlace a la web"
            title="Ver la web"
            target="_blank"
            >Web</a
          >
          <a
            href=""
            class="main__projects__code"
            alt="Enlace a Github"
            title="Ver código"
            target="_blank"
            >Github</a
          >

        </li>

        <li class="main__projects__card"  >
            <div class= "main__project__container js-image" id="1" >
            <img class= "main__projects__cardImage " 
          
            src= "./assets/images/anonimus1.jpg"
            title= ""
            alt= ""
            />
            <p class="main__projects__carddescription js-text"> Web Anonymous Porxy responsive.</p>  
            </div>
            <h3 class="main__projects__cardTitle ">Anonymous Proxy</h3>
        
            <ul class= "main__projects__thechList">
                <li class= "main__projects__thechItem">HTML5</li>
                <li class= "main__projects__thechItem">CSS</li>
                <li class= "main__projects__thechItem">SASS</li>
                <li class= "main__projects__thechItem">Scrum</li>
            </ul>
            <a
            href="https://maribellopezromero.github.io/Anonymous-Proxy/"
            class="main__projects__web"
            alt="Enlace a la web"
            title="Ver la web"
            target="_blank"
            >Web</a
          >
          <a
            href="https://github.com/MaribelLopezRomero/Anonymous-Proxy"
            class="main__projects__code"
            alt="Enlace a Github"
            title="Ver código"
            target="_blank"
            >Github</a
          >

        </li>

        <li class="main__projects__card">
            <div class= "main__project__container js-image" id="2" >
            <img class= "main__projects__cardImage " 
            src= "./assets/images/montgomeryCards1.jpg"
            title= "Proyecto montgomery cards"
            alt= "Proyecto montgomery cards"
            />
            <p class="main__projects__carddescription js-text"> Web app que permite crear tarjetas de presentación de forma interactiva.</p>  
            </div>
            <h3 class="main__projects__cardTitle ">Montgomery-Cards</h3>
        
            <ul class= "main__projects__thechList">
                <li class= "main__projects__thechItem">JavaScript</li>
                <li class= "main__projects__thechItem">HTML5</li>
                <li class= "main__projects__thechItem">CSS</li>
                <li class= "main__projects__thechItem">SASS</li>
                <li class= "main__projects__thechItem">Scrum</li>
            </ul>
            <a
            href="https://maribellopezromero.github.io/Montgomery-Cards/"
            class="main__projects__web"
            alt="Enlace a la web"
            title="Ver la web"
            target="_blank"
            >Web</a
          >
          <a
            href="https://github.com/MaribelLopezRomero/Montgomery-Cards"
            class="main__projects__code"
            alt="Enlace a Github"
            title="Ver código"
            target="_blank"
            >Github</a
          >

        </li>

        <li class="main__projects__card">
            <div class= "main__project__container js-image" id="3" >
            <img class= "main__projects__cardImage " 
            
            src= "./assets/images/AwesomeReact.jpg"
            title= "Proyecto Badalabers"
            alt= "Proyectos Badalabers"
            />
            <p class="main__projects__carddescription js-text"> Refactoriazacion de codigo heradado del proyecto Montgomery Cards con React. </p>  
            </div>
            <h3 class="main__projects__cardTitle ">Badalabers</h3>
        
            <ul class= "main__projects__thechList">
                <li class= "main__projects__thechItem">React</li>
                <li class= "main__projects__thechItem">JavaScript</li>
                <li class= "main__projects__thechItem">HTML5</li>
                <li class= "main__projects__thechItem">CSS</li>
                <li class= "main__projects__thechItem">SASS</li>
                <li class= "main__projects__thechItem">Scrum</li>
            </ul>
            <a
            href="https://maribellopezromero.github.io/Montgomery-Cards/"
            class="main__projects__web"
            alt="Enlace a la web"
            title="Ver la web"
            target="_blank"
            >Web</a
          >
          <a
            href="https://github.com/MaribelLopezRomero/Montgomery-Cards"
            class="main__projects__code"
            alt="Enlace a Github"
            title="Ver código"
            target="_blank"
            >Github</a
          >

        </li>

        <li class="main__projects__card"  >
            <div class= "  main__project__container js-image"id="4" >
            <img class= "main__projects__cardImage " 
            src= "./assets/images/mareaCoders.jpg"
            title= "Proyecto Marea Coders"
            alt= "Proyecto Marea Coders"
            />
            <p class="main__projects__carddescription js-text"> Web grupal responsive. Con diferentes navegaciones. </p>  
            </div>
            <h3 class="main__projects__cardTitle ">Marea Coders</h3>
        
            <ul class= "main__projects__thechList">
              <li class= "main__projects__thechItem">HTML5</li>
              <li class= "main__projects__thechItem">CSS</li>
              <li class= "main__projects__thechItem">SASS</li>
              <li class= "main__projects__thechItem">Scrum</li>
            </ul>
            <a
            href="https://maribellopezromero.github.io/Marea-Coder/"
            class="main__projects__web"
            alt="Enlace a la web"
            title="Ver la web"
            target="_blank"
            >Web</a
          >
          <a
            href="https://github.com/MaribelLopezRomero/Marea-Coder"
            class="main__projects__code"
            alt="Enlace a Github"
            title="Ver código"
            target="_blank"
            >Github</a
          >

        </li>
        <li class=" main__projects__card">
            <div class= "main__project__container js-image" id="5" >
            <img class= "main__projects__cardImage " 
            
            src= "./assets/images/series.jpg"
            title= ""
            alt= ""
            />
            <p class="main__projects__carddescription js-text"> Web app que busca series y filtra series, trayendoselas de un API y guardandolas en el local storage</p>  
            </div>
            <h3 class="main__projects__cardTitle ">Buscador de series</h3>
        
            <ul class= "main__projects__thechList">
                <li class= "main__projects__thechItem">JavaScript</li>
                <li class= "main__projects__thechItem">HTML5</li>
                <li class= "main__projects__thechItem">CSS</li>
            </ul>
            <a
            href="https://maribellopezromero.github.io/Buscador-de-series/?input=friends"
            class="main__projects__web"
            alt="Enlace a la web"
            title="Ver la web"
            target="_blank"
            >Web</a
          >
          <a
            href="https://github.com/MaribelLopezRomero/Buscador-de-series"
            class="main__projects__code"
            alt="Enlace a Github"
            title="Ver código"
            target="_blank"
            >Github</a
          >

        </li>
        <li class=" main__projects__card"  >
            <div class= "main__project__container js-image" id="6">
            <img class= "main__projects__cardImage " 
          
            src= "./assets/images/gmail.jpg"
            title= ""
            alt= ""
            />
            <p class="main__projects__carddescription js-text"> Web app responsive hecha con React y React Router que gestionar los correos que devuleve un api, filtrando y borrandolos. </p>  
            </div>
            <h3 class="main__projects__cardTitle ">Gmail-React</h3>
        
            <ul class= "main__projects__thechList">
                <li class= "main__projects__thechItem" >React</li>
                <li class= "main__projects__thechItem">JavaScript</li>
                <li class= "main__projects__thechItem">HTML5</li>
                <li class= "main__projects__thechItem">CSS</li>
            </ul>
            <a
            href=""
            class="main__projects__web"
            alt="Enlace a la web"
            title="Ver la web"
            target="_blank"
            >Web</a
          >
          <a
            href=""
            class="main__projects__code"
            alt="Enlace a Github"
            title="Ver código"
            target="_blank"
            >Github</a
          >

        </li>
    </ul>
    
</section>
</main>