// color
$color-primary: white;
$color-secundary: black;
$color-terciary: #20769e;

//color background
$color-main-section-one: white;
$color-background: #faf6fe;

//fuente
$font-family: "Roboto", sans-serif;
$font-family-title: "Roboto Slab", serif;
