.main__projects {
  background: $color-main-section-two;
  width: 100%;
  @media all and (min-width: 768px) {
  }
  @media all and (min-width: 1280px) {
  }
}
.main__projects__title {
  color: $color-secundary;
  font-family: $font-family-title;
  text-transform: capitalize;
  text-align: center;
  // width: 90.625%;
  height: 30px;
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 4.687%;
  margin-right: 4.687%;
  @media all and (min-width: 768px) {
    width: 58.593%;
    height: 45px;
    font-size: 26px;
    margin-left: 20.572%;
    margin-right: 20.833%;
    margin-bottom: 45px;
  }
  @media all and (min-width: 1280px) {
    width: 57.0312%;
    height: 45px;
    font-size: 32px;
    margin-left: 21.4843%;
    margin-right: 21.4843%;
    margin-top: 60px;
    margin-bottom: 45px;
  }
}

.main__projects__list {
  list-style: none;
  color: $color-secundary;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.main__projects__card {
  // border: solid 1px black;
  // border-color: blue;
  // border-radius: 5px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px;
  padding: 10px;
  // background-color: #48c590;
  width: 300px;
  color: black;
  text-decoration: none;
}

.main__project__container {
  box-sizing: border-box;
  width: 100%;
  height: 220px;
}

.main__projects__cardImage {
  width: 100%;
  // height: auto;
  max-height: 300px;
  border-radius: 20px;
  // overflow: hidden;
  object-fit: cover;
  // object-position: center center;
}
.main__projects__cardTitle {
  color: #20769e;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 25px;
}
.main__projects__carddescription {
  font-size: 16px;
}
.main__projects__thechList {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-bottom: 20px;
}
.main__projects__thechItem {
  color: #20769e;
  margin-right: 30px;
}
.main__projects__web {
  text-decoration: none;
  color: blue;
  border: solid 1px black;
  border-color: blue;
  background-color: yellow;
  border-radius: 5px;
  margin-right: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: color ease-in 0.5s, background-color ease-in 0.5s,
    transform ease-in 0.5s;
  &:hover {
    color: white;
    background-color: #20769e;
    border: solid 2px white;
    transform: scale(1.1);
  }
}
.main__projects__code {
  text-decoration: none;
  color: blue;
  border: solid 1px black;
  border-color: blue;
  background-color: yellow;
  border-radius: 5px;
  margin-right: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: color ease-in 0.5s, background-color ease-in 0.5s,
    transform ease-in 0.5s;
  &:hover {
    color: white;
    background-color: #20769e;
    border: solid 2px white;
    transform: scale(1.1);
  }
}

//JS estilos de la despcripcion

.js-projects {
  box-sizing: border-box;
  position: relative;
  bottom: 225px;
  height: 220px;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
  background: yellow;
  color: black;
  opacity: 0.9;
  border-radius: 20px;
  // font-family: $main-font;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  transition: 1s ease-in-out;
  animation: scale 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.js-text {
  display: none;
}

@keyframes scale {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
